#container{
	background-color: #8a8a8a;
	margin: 50px 0px 10px 0px;
	width: 400px;
	border-radius: 5%;
}

#screen{
	margin: 10px 0px 10px 0px;
	width:360px;
	height: 100px;
	font-size: 20px;
}


table{
	background-color: #e2e2e2e6;
}

button{
	padding: 3px 20px 3px 20px;
	font-size: 13px;
	margin:1px 1px 1px 1px;
	border-radius: 5%;
}

#equal{
	padding: 5px 50px 5px 50px;
}

#minus{
	padding: 0px 21px 0px 21px;
	font-size:20px;
}

#openb,#closeb,#sroot,#exp,#undo{
	padding: 3px 23px 3px 23px;
}

#buttons{
	padding: 0px 0px 10px 0px;
}

tbody{
	background-color: #00000026;
}

